<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tanzania_Artifacts_MarketPlace_System_NEW</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Tanzania_Artifacts_MarketPlace_System_NEW_1_.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavbarPartial")

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @{
        var currentPath = Context.Request.Path.Value?.ToLower() ?? "";
        var isLoginOrRegister = currentPath.Contains("/account/login") || currentPath.Contains("/account/register");
    }

    @if (!isLoginOrRegister)
    {
        @await Html.PartialAsync("_FooterPartial")
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/umd/popper.js/popper.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // Show/Hide Scroll-To-Top Button
        const scrollTopBtn = document.getElementById("scrollTopBtn");
        window.onscroll = function () {
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                scrollTopBtn.classList.remove("d-none");
            } else {
                scrollTopBtn.classList.add("d-none");
            }
        };

        // Scroll to Top
        scrollTopBtn.addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        // Enable Bootstrap Tooltips
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.map(el => new bootstrap.Tooltip(el));
    </script>

</body>
</html>
