@using Tanzania_Artifacts_MarketPlace_System_NEW_1_.Seller.SellerViewModel
@model SellerProductVM

<h2>Submit New Product</h2>

<form asp-action="CreateProduct" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="StockQuantity" class="form-label">Stock Quantity</label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label>Image</label>
        <input asp-for="Image" type="file" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
